# App
APP_URL=
APP_PORT=
NODE_ENV=

# Auth
APP_SECRET=
APP_TOKEN_EXPIRES_IN=

# Database
DB_DIALECT=
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=

# Mongo

MONGO_URL=
# Redis

REDIS_HOST=
REDIS_PORT=

# Mail

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_SECURE=

# SENTRY (APENAS AMBIENTE DE PRODUCAO)
SENTRY_DSN=
